---
import '@fontsource/playfair-display';

import { data } from '~/data';

import Header from '~/components/Header.astro';
import Section from '~/components/Section.astro';

import '~/index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Resume</title>
  </head>

  <body class="px-10 py-4 text-slate-950">
    <Header />

    <main class="my-2 flex flex-col gap-3">
      <Section title="About">
        <p>
          A <i>Frontend Developer</i> based in <strong>Indonesia</strong> who is passionate about crafting user-friendly and visually stunning interfaces with the React.js ecosystem. Beside that, I enjoy writing blogs, contributing to open-source projects, and staying connected with technology communities.
        </p>
      </Section>

      <Section title="Skills">
        <ul class="flex flex-col gap-1">
          <li>
            <p><i>Markup/Programming Languages</i>:</p>
            <ul class="ml-8 list-disc">
              <li>{data.skills[0].join(', ')}.</li>
            </ul>
          </li>

          <li>
            <p><i>Tools & Technologies</i>:</p>
            <ul class="ml-8 list-disc">
              <li>{data.skills[1].join(', ')}.</li>
            </ul>
          </li>
        </ul>
      </Section>

      <Section title="Experiences">
        <ul class="flex flex-col gap-1">
          {
            data.experiences.map((e) => (
              <li>
                <div class="flex justify-between">
                  <div>
                    <p>
                      <i>{e.title} </i>• <a href={e.companyUrl}>{e.company}</a>
                    </p>
                    <p>
                      {e.type} • {e.location}
                    </p>
                  </div>

                  <div>
                    <p>{e.period}</p>
                  </div>
                </div>

                <ul class="ml-8 list-disc">
                  {e.responsibilities.map((responsibility) => (
                    <li>{responsibility}</li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </Section>

      <Section title="Featured Portfolios">
        <ul class="flex flex-col gap-1">
          {
            data.portfolios.map((p) => (
              <li>
                <div class="flex justify-between">
                  <div>
                    <p>
                      <i>{p.title} </i>• <a href={p.url}>{p.urlPreview}</a>
                    </p>
                  </div>

                  <div>
                    <p>{p.createdAt}</p>
                  </div>
                </div>

                <ul class="ml-8 list-disc">
                  <li>{p.description}</li>
                </ul>
              </li>
            ))
          }
        </ul>
      </Section>

      <Section title="Educations">
        <ul class="flex flex-col gap-1">
          {
            data.educations.map((e) => (
              <li>
                <div class="flex justify-between">
                  <div>
                    <p>
                      <i>{e.type} </i>• <a href={e.url}>{e.title}</a>
                    </p>
                    <p>
                      {e.degree} • {e.location}
                    </p>
                  </div>

                  <div>
                    <p>{e.period}</p>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </Section>
    </main>
  </body>
</html>
